@model IEnumerable<eShopping.Models.Products>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="content">
    <div class="container-fluid">
        <table id="products" class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria.Nome_Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome_Produto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco_Produto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstaNoCatalogo)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Nome_Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome_Produto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco_Produto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstaNoCatalogo)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })
                            @Html.ActionLink("Details", "Details", new { id = item.ProductID })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#products").DataTable();
        });
    </script>
}