@model IEnumerable<eShopping.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.ID)</th>
            <th> @Html.DisplayNameFor(model => model.productsOrders)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>  @Html.DisplayFor(modelItem => item.ID)</td>
            @* COMO LISTAR OS PRODUTOS DO CARRINHO*@
            <td>  @Html.DisplayFor(modelItem => item.productsOrders)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>

        }
    </tbody>

</table>
